<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SSHCHANGERFREE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SSHCHANGERFREE.Properties.Settings>
      <setting name="linkssh" serializeAs="String">
        <value />
      </setting>
      <setting name="scheduleddelay" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="randomssh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autosave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="whoershowinfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="whoercheckbl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="whoercheckproxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="loopssh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="changeby247" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="changebyscheduled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="changebymanual" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importsshfromfile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timezone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="location" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeout" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>1080</value>
      </setting>
    </SSHCHANGERFREE.Properties.Settings>
  </userSettings>
</configuration>
